/* CSS FOR ALL PAGES */
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: verdana;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 7rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  padding-bottom: 1rem;
  padding-top: 1.3rem;
  text-align: center;
  font-size: 1.5rem;
}

.h4 {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

/* CSS FOR NAVIGATION BAR */
.headerimg {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 35%;
  filter: invert(1);
}

header {
  position: fixed;
  /* To have navbar fixed */
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(45, 45, 28);
  background: linear-gradient(
    180deg,
    rgba(45, 45, 28, 1) 10%,
    rgba(45, 45, 28, 0.75) 40%,
    rgba(45, 45, 28, 0.5) 64%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 100;
}

picture.meny-img img {
  position: absolute;
  margin-left: 2em;
  width: 8em;
  color: #fff;
  filter: invert(1);
  margin-top: 0.625em;
}

header nav ul li a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.4s ease;
}

header nav a:hover {
  color: #fff500;
  text-decoration: none;
  transition: 0.6s;
}

header nav a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 6.25em;
}

nav a {
  text-decoration: none;
  cursor: pointer;
}

nav a::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  display: block;
  background-color: #fff;
  margin-top: 0.3rem;
}

nav a:hover::after {
  width: 100%;
  transition: all 0.5s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-weight: 300;
}

nav li {
  float: left;
  color: white;
}

nav a {
  display: block;
  padding: 1.25em;
  display: inline;
  margin: 0 1.3rem;
  text-decoration: none;
}

/* CSS FOR FOOTER */
.footer {
  display: flex;
  flex-wrap: wrap; /* Organize elements in rows that can wrap based on the screen size */
  text-align: center;
  background-color: #2d2d1c;
  color: white;
}

.footer-col {
  width: 100%; /* Make the column take up the full width */
  margin: auto; /* Center the column horizontally */
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.footer-col ul {
  list-style: none;
  font-size: 0.9rem;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 0.5rem; /*Adds margin between each list item, except the last one.*/
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.4s ease;
}

.footer-col ul li a:hover {
  color: #8da7a6;
  padding-left: 0.2rem;
}

.footer-col .socials a {
  padding: 0.4rem;
  margin-right: 1rem;
  width: 2.5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: white;
  color: black;
  transition: all 0.4s ease;
}

.footer-col .socials a:hover {
  color: white;
  background-color: #899f9e;
}

/* CSS FOR INDEX-PAGE */
#homepage {
  width: 100%;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 89.7vh;
  background-image: url("https://www.oslomet.no/var/oslomet/storage/images/9/7/4/2/252479-7-nor-NO/P32-fasade-OsloMet-foto-Benjamin-Ward-OsloMet-45223413981_3b266ee676_o-2400x1200px.jpg");
}

.explore-oslomet-btn {
  background-color: #617574;
  padding: 1.1rem;
  text-align: center;
  box-shadow: 0 -6px 20px 0;
  position: relative;
  height: 10.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-oslomet-btn a {
  color: white;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.explore-oslomet-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffd500;
  transition: width 0.25s ease-out;
}

.explore-oslomet-btn a:hover::before {
  width: 100%;
}

.introduction {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.7rem;
  margin-left: 9rem;
  margin-right: 9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

/* https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.button-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #617574;
  width: 20rem;
  height: 3rem;
  margin-bottom: 4rem;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

.button-homepage:hover {
  background-color: #3d5a59;
}

.upcoming-events {
  background-color: #eff2f4;
  width: 100%;
  padding-bottom: 2rem;
}

.upcoming-events ul {
  list-style: none;
}

.events-grid-container {
  display: grid;
  grid-template-areas:
    "first"
    "second"
    "last";
  /* for å få den sentrert: */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/*endre klassenavn */
.events-calendar-first {
  border: solid;
  border-color: rgb(189, 188, 188);
  border-left: none;
  border-right: none;
  border-bottom: none;
  grid-area: first;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.events-calendar-second {
  border: solid;
  border-color: rgb(189, 188, 188);
  border-left: none;
  border-right: none;
  border-bottom: none;
  grid-area: second;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.events-calendar-third {
  border: solid;
  border-color: rgb(189, 188, 188);
  border-left: none;
  border-right: none;
  grid-area: last;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.events-date {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #647696;
  color: white;
  font-weight: 600;
  height: 5rem;
  width: 5rem;
}

.events-info {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 0;
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: bolder;
}

.events-details {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: small;
  margin-bottom: 2rem;
}

.upcoming-events a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 0.12rem;
  font-weight: bolder;
  width: 20%;
  margin: auto;
  margin-top: 1.5rem;
}

.upcoming-events p a:hover {
/* endre farge */
  text-decoration-color: #ffd500;
}

.arrow-events {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.25rem;
  margin: 0.25rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.research {
  background-color: #f6f6f3;
  padding-bottom: 0.5rem;
}

.research-container {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-template-rows: repeat(2, 2fr);
  grid-gap: 5%;
  width: 70%;
  height: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}

.research-article {
  width: 100%;
  height: 100%;
  padding: 2%;
  color: black;
  transition-duration: 0.5s;
}

.research-article:hover {
  background-color: #70858462;
}

.research-container .research-article:nth-child(even) {
  justify-self: end;
}
.research-article a {
  color: black;
  text-decoration: none;
}

.research-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.research-column p {
  margin-left: 0.4em;
}

.research-arrow {
  float: right;
}

.research-caption{
  font-size: 1rem;
}

.life-container {
  display: grid;
  grid-template-columns: repeat(7, 23%);
  grid-template-rows: 100%;
  grid-gap: 15%;
  width: 70%;
  height: 70vh;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;

  /* some browsers, like firefox, do not support webkit, which is why styling for scrollbar is also added here */
  scrollbar-color: darkgrey white;
  /* thumb and track color */
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.life-column {
  width: 140%;
  height: 80%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  margin-bottom: 3%;
  margin-top: 7%;
}

.life-container .life-column a {
  color: black;
  text-decoration: none;
}

.life-column:hover {
  transform: scale(1.1);
}

.life-container > .life-column:nth-child(1) {
  padding-left: 2%;
}

.life-img {
  width: 100%;
}

/* only styles the thumb (the part you drag around) */
::-webkit-scrollbar-thumb {
  background-color: #3f3f29;
  border-radius: 0.6rem;
}

/* styles the entire scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

/* only styles the scrollbar's track */
::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.625rem;
}

.life-cards {
  padding-top: 1rem;
  padding-bottom: 2.4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  height: 50%;
  bottom: 0;
  z-index: 1;
}

.life-title {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-bottom: 0.2em;
}

.life-faculty {
  font-weight: 600;
  color: #5b7588;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.life-explanation{
  font-size: 1rem;
  line-height: 1.3rem;
}

/* CSS TO P35 PAGE */
.p35img1 {
  display: block;
  position: relative;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  width: auto;
  background-image: url(../images/cantine_shop.jpg);
  margin-bottom: 1rem;
}

.p35img2 {
  width: 66%;
  display: block;
  position: relative;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  width: auto;
  background-image: url(../images/library.jpg);
  margin-bottom: 1rem;
}

.p35img3 {
  width: 66%;
  display: block;
  position: relative;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  width: auto;
  background-image: url(../images/datatorget.jpg);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay p {
  color: white;
  text-align: center;
  padding-left: 15rem;
  padding-right: 15rem; 
}

.image-text{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;  
}

.p35-card {
  background-color: #eff2f4;
}


/* CSS TO TOPICAL PAGE */
.topical-content {
  width: 100%;
  margin: auto;
  align-items: center;
}

.topical-content p {
  width: 65%;
  margin: auto;
}

.header-content body {
  width: 100%;
  background-color: white;
  font-family: verdana;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topical-paragraphs {
  padding-bottom: 4rem;
}

.center-topical-img {
  width: 75%;
  margin: auto;
}


.third-topical-paragraph {
  background-color: #eff2f4;
  padding-top: 0.5em;
  padding-bottom: 2rem;
}

.third-topical-list li {
  align-items: center;
  padding-left: 18%;
  padding-right: 18%;
  list-style: square inside;
  padding-bottom: 1em;
}

.learn-more-topical-heading {
  text-align: center;
}

.card-section {
  align-items: center;
  background-color: #7e9695;
}

.topical-row-info {
  display: flex;
  padding: 5em;
  align-items: center;
}

.topical-column {
  margin: auto;
  align-items: stretch;
  justify-content: center;
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  margin: 0.5px;
  height: 22rem;
  width: 15rem;
  margin-left: auto;
  background: #fff;
  margin-right: auto;
  box-shadow: 0 20px 20px -20px;
}

.topical-column:hover {
  transform: scale(1.1);
}

.topical-card {
  margin: 0.5rem;
  height: 20rem;
  width: 15rem;
  background-color: #fff;
}

.img-card {
  width: 100%;
  padding: 0;
}

.container {
  padding: 0 1rem;
  margin-top: 1em;
  text-align: center;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.topical-button {
  box-shadow: inset 0px 0px 10px 3px #7e9695;
  background: linear-gradient(to bottom, #f6f6f3 5%, #f6f6f3 100%);
  background-color: #f6f6f3;
  border-radius: 1rem;
  border: 2px solid #f6f6f3;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 0px #528ecc;
}

.topical-button:hover {
  background: linear-gradient(to bottom, #f6f6f3 5%, #708584 100%);
}

.topical-button:active {
  position: relative;
  top: 1px;
}

.container p {
  padding: 0.6rem;
}

/*CSS FOR ACCESSIBILITY PAGE*/
.accessibility-main{
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
 
}

.accessibility-img{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.accessibility-img img{
  width: 30rem;
  height: 20rem;
  margin: 1rem;
  margin-bottom: 0;
  border: black 1px solid;
}

/* .accessibility-main > picture{
  width: 80%;
} */

.accessibility-p{
  margin-bottom: 4rem;
}

.accessibility-figure{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.accessibility-img figcaption{
  text-align: center;
  font-size: small;
  width: 100%;
}

/* SHARED BY INDEX AND P35 */
.body-info-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding-bottom: 3.5rem;
  width: 100%;
  padding-left: 14rem;
  padding-right: 14rem;
}

.info-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 100%;
  margin: 1.2rem;
  overflow: hidden;
  box-shadow: 0 20px 20px -20px;
  padding: 0;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.info-cards img {
  position: relative;
  vertical-align: top;
  max-width: 100%;
  transition: 0.5s ease;
}

.info-cards:hover  {
  transform: scale(1.1);
}

.info-cards figcaption {
  position: absolute;
  padding-top: 1rem;
  padding-bottom: 2.4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  height: 50%;
  bottom: 0;
  z-index: 1;
  color: black;
}

.info-cards figcaption::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f6f6f3;
  z-index: -1;
}

.info-cards p {
  font-size: 1rem;
  line-height: 1.2em;
}

/* SHARED BY TOPICAL AND P35 */
.stats {
  width: 22rem;
  height: 13.5rem;
  padding: 2%;
  margin: auto;
  align-items: center;
  background-color: #617574;
  color: white;
  text-align: center;
}

.stats-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f6f6f3;
  padding: 5em;
}

.stats-writing {
  font-weight: 600;
}

.stats-number {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3%;
}

/* SHARED MEDIA QUERIES */
/* Media Queries for the nav-bar */
@media screen and (max-width: 840px) {
  nav {
    display: block;
    margin: 0.3rem; /* Provides a little space between items */
    margin-top: 7rem;
  }
  header {
    position: absolute;
  }
}

@media screen and (max-width: 840px) {
  nav ul {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: -5.5rem;
  }
  nav a {
    padding: 0;
  }
  header {
    background-color: #333;
    height: 9rem;
  }
  nav ul li:nth-child(1) {
    display: none;
  }
}

/* Media Queries for footer */
/* For smaller to medium screens (phones, tablets) */
@media screen and (max-width: 991px) {
  .footer-col {
    margin: 1rem; /* Adjust margin for the screens */
  }
}

/* For larger screens (laptops/desktops) */
@media screen and (min-width: 991px) {
  .footer-col {
    width: 30%; /* Reset width to original for larger screens, for 3-column layout */
  }
}

/* MEDIA QUERIES FOR INDEX */
@media (max-width: 700px) {
  .introduction {
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: normal;
  }
}

@media screen and (max-width:1200px) {

  .life-container {
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(4, 5fr);
    grid-gap: 2%;
    overflow-x: hidden;
  }

  .life-column {
    width: fit-content;
    margin: 1rem;
    padding-block-end: 5rem;
  }
  
}
@media screen and (max-width: 700px) {
  .upcoming-events {
    background-color: #f6f6f3;
    width: 100%;
  }

  .upcoming-events ul {
    list-style: none;
  }

  .events-grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /*endre klassenavn */
  .events-calendar-first,
  .events-calendar-second,
  .events-calendar-third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .events-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bolder;
  }

  .events-info {
    text-align: center;
  }

  .events-details {
    text-align: center;
  }

  .upcoming-events a {
    width: fit-content;
  }

  .research-container {
    grid-template-columns: 5fr;
    grid-template-rows: repeat(4, 5fr);
    height: fit-content;
    grid-gap: 2%;
  }

  .research > .button-homepage {
    margin-top: 20%;
  }

  .life-container {
    grid-template-columns: 5fr;
    grid-template-rows: repeat(4, 5fr);
    grid-gap: 2%;
    overflow-x: hidden;
  }

  .life-column {
    width: fit-content;
    margin: 1rem;
    padding-block-end: 5rem;
  }
}


@media (max-width: 700px) {
  .button-homepage {
    font-size: 1rem;
    width: 13rem;
    text-align: center;
  }
}

/* MEDIA QUERIES FOR P35 */

/* MEDIA QUERIES FOR TOPICAL */

@media screen and (max-width: 1240px) {
  .topical-content {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1200px) {
  .topical-column {
    display: block;
    margin: 1rem auto;
  }

  .topical-row-info {
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
  }
}

/* MEDIA QUERIES SHARED BY INDEX AND P35 */
@media (max-width:1200px) {
  .body-info-cards {
    flex-direction: row;
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 700px) {
  .body-info-cards {
    flex-direction: column;
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* MEDIA QUERIES SHARED BY TOPICAL AND P35 */

@media screen and (max-width: 1240px) {
  .stats {
    display: block;
    margin: 0.3rem auto;
    flex: 0 1 calc(50% - 0.6rem);
    padding: 1.5rem;
    width: 75%;
  }

  .stats-container {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    padding: 2rem;
    padding-bottom: 2rem;
  }
}