body {
  background-color: white; 
  font-family:verdana;
  text-align:justify;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  text-transform:uppercase;
}

.video {
  padding-top: 140px;
}

.headerimg {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 35%;
  filter: invert(1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 100;
}

header nav ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.4s ease;
} 

header nav a:hover {
  color: #fff500;
  text-decoration: underline;
  transition: 0.5s;
}

header nav a:focus {
  background-size:  0 0.1em, 100% 0.1em;

}

nav {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100px; 

}

nav a {
  text-decoration: none;
  cursor: pointer;
}


nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
color: white;

}

.omoslomet {
  padding: 5%;
}

nav li {
  float: left;
  color: white;
}

a {
  display: block;
  padding: 20px;
  display: inline;
  margin: 0 20px;
}

.omoslomet {
padding: 10%;
}

.infoboks {
display: grid;
grid-template-areas: 
"oslomet kalender"
"p35 accessibility"
;
}
.oslomet {
grid-area: oslomet;
padding: 5%;
}
.kalender {
grid-area: kalender;
align-items: center;
padding: 5%;
}  
.p35 {
grid-area: p35;
}
.accessibility{
grid-area: accessibility;
}

/*
CSS TIL KALENDER:
*/
.month {
padding: 70px 25px;
width: 100%;
background: #000000;
text-align: center;
color: #ffff00;
}

.month ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.month ul li {
color: #ffff00;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

.month .prev {
float: left;
padding-top: 10px;
}

.month .next {
float: right;
padding-top: 10px;
}

.weekdays {
margin: 0;
padding: 10px 0;
background-color: #ddd;
}

.weekdays li {
display: inline-block;
width: 13.6%;
color: #666;
text-align: center;
}

.days {
padding: 10px 0;
background: #eee;
margin: 0;
}

.days li {
list-style-type: none;
display: inline-block;
width: 13.6%;
text-align: center;
margin-bottom: 5px;
font-size:12px;
color: #777;
}

.days li .active {
padding: 5px;
background: #000000;
color: #ffff00 !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
.weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
.weekdays li, .days li {width: 12.5%;}
.days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
.weekdays li, .days li {width: 12.2%;}
}

/*
CSS TIL KALENDER SLUTT
*/

.footer-content {
  max-width: 1170;
  margin: auto;
}

/* organize elements in rows that can wrap based on the screen size */
.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul {
  list-style: none;
}

.footer {
  background-color: black;
  color: white;
  padding: 45px;
}

.footer-col {
  width: 25%;
  padding: 8px 40px 0px 0px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 16px;
  position: relative;
}

/* add spacing to all list items except the last one within unordered lists */
.footer-col ul li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-col ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.4s ease;
}

.footer-col ul li a:hover {
  color: #ffd500;
  padding-left: 2px;
}

.footer-col .socials a {
  display: inlineblock;
  padding: 5px;
  font-size: 24px;
  width: 33px;
  text-align: center;
  margin: 15px 11px 0px 0;
  border-radius: 50%;
  text-decoration: none;
  background-color: white;
  color: black;
  transition: all 0.4s ease;
}

.footer-col .socials a:hover {
  color: white;
  background-color: #ffd500;
}